.app-plot {
    padding: 2px;
    float: left;
    position: relative;
    margin: auto;
    width: 50%;
}

.main-canvas-container {
    display: inline-flex;
}

.main-canvas {
    position:relative;
}

.main-canvas-background {
    position:relative;   
}

.sample-names {
    position:relative;   
}

.tip-canvas {
    width: 170px; 
    height: 20px;
    z-index: 10;
}

.graph-and-labels {
    vertical-align: top; 
    padding-top: 6px;
}

.app-file-name {
    height: 40px;
    padding-left:   5px;
    font-weight:    bold;   
}
