<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>μSat alleles</title>
        <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA27yaAPLs5gC/dCIA6IETAPXo2gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARVVVVUERETAEVVVUERETAARVVVQRERMAAEVVQDERMAAARVVAMREwAABFVUADEwAAAgRUAAMTACAABFQAADAAAAAEVAAgAAAAAABAAAAAAgAAIEAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAIAAAAAAgAAAAAAIAAAAAAAAAAAAAAAAQAAgAMAAIADAADBBwAAwQcAAMGPAACjjQAA498AAON/AAD3+wAA1/8AAP//AAD//wAAu/4AAP/fAAD//wAA"
      rel="icon" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" href="/static/lib/jquery.jqplot/css/jquery.jqplot.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    </head>
  <body>
    <tag autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
<div class=" with-nav-tabs panel-default">
    <div id="main_menu_bar" class="panel-heading">
        <!--<div id="project_name">Project Dir: <span class="musat_dir_shortname "><i>&lt;None&gt;</i></span></div>-->
        <ul class="nav nav-tabs">
            <li id="home_handle" class="active">
                <a data-toggle="tab" href="#home">Overview</a>
            </li>
            <li id="menu_1_handle">
                <a id="menu_1_a" data-toggle="tab" href="#menu1">1 Prepare μSat data <span id="prep_complete">&nbsp;</span></a>
            </li>
            <!--<li id="menu_2_handle">-->
            <!--<a id="menu_2_a" data-toggle="tab" href="#menu2">Explore</a>-->
            <!--</li>-->
             
            <li id="menu_2_handle" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">2 Call Alleles <span id="all_loci_called">&nbsp;</span><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#bars-pane" data-toggle="tab" onclick="mu.explore.show('bars')">Bar Plot</a></li>
                    <li><a href="#scatter-pane" data-toggle="tab" onclick="mu.explore.show('scatter')">Intensity Plot</a></li>
                </ul>
            </li>
            <li id="menu_3_handle"> <!-- class="disabled" removed -->
                <a id="menu_3_a" data-toggle="tab" href="#menu3" onclick="mu.oResults.show()"> 3 Review &amp; Export Results</a>
            </li>

            <li id="project_name" >Project dir: <span class="musat_dir_shortname "><i>&lt;None&gt;</i></span></li>

            <li class="navbar-right">
                <a data-toggle="tab" href="#options">Options</a>
            </li>
        </ul>
    </div>
    <div>
        <div class="tab-content">
          <div id="scatter-pane" class="tab-pane">
                {% include 'explore_scatter.html' %}
            </div>

            <div id="menu3" class="tab-pane">
                {% include 'results.html' %}
                <!--<h3>Menu 3</h3>-->
                <!--<p>export export export</p>-->
            </div>
            <div id="options" class="tab-pane">
                {% include 'options.html' %}
            </div>

        </div>
    </div>
</div>
{% include 'run_overlay.html' %}
<footer>
    <p>
        We are using node <script>document.write(process.versions.node)</script>,
        Chrome <script>document.write(process.versions.chrome)</script>,
        and Electron <script>document.write(process.versions.electron)</script>.
    </p>    
</footer>   
</body>
</html>