.plot-grid-selector {
    white-space: nowrap; 
    display: inline;
}

.graph-menu {
    float: left;
}

.graph-menu-list {
	list-style: none;	
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: bisque;
}

.graph-menu-item {
	float: 	left;
	display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    cursor: pointer;	
}