#primers_grid_contents {
    display: table-cell;
    vertical-align: top;

}

#primers_grid_hdr {
    font-weight: bold;
}

#primers_grid {
    width: 12em;
    /*float: left;*/
    margin-top: 6px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: #E7F5FE;
    border: 1px solid black;
}

#primers_grid_container {
    display: table-cell;
    vertical-align: top;
    /*width: 100px;*/
    padding-right: 10px;

}

#all_graphs {
    display: table-cell;
}

[id^="graph_and_labels"] {
    display: table-cell;
}

#graph_wrapper {
    display: table;
    white-space: nowrap;
}

#tip {
    background-color: white;
    border: 1px solid blue;
    position: fixed;
    left: -200px;
    top: 100px;
}

[id^="radioGridSelector"] {
    display: inline;
}

[id^="mainCanvasBackground"] {
    opacity: 0.2;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                           not supported by any browser */
}