.app-plot-intensity {
    background-color:aliceblue;
    border: 1px solid black;
    height: 30px;
    width: 250px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.app-plot-intensity img {
    width: 250px;
}
