<div id="explore_bars">
    <div id="primer_and_plots_container">
        {% include 'primer_sidebar.html' %}

        <div id="plots_container">

            <div id="gr_caption" class="col-md-11">
                Click one of the Locus Names to see its Microsatellite Plots
                <a href="#scatter-pane" data-toggle="tab" onclick="mu.explore.show('scatter')">
                    <button id="gr_switch_view" class="btn navbar-right">Switch to Intensity Plot View</button></a>
            </div>
            <div id="plots" class="col-md-11">
                <!--<div id="plots" >-->


            </div>
        </div>
    </div>
</div>