<link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA27yaAPLs5gC/dCIA6IETAPXo2gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARVVVVUERETAEVVVUERETAARVVVQRERMAAEVVQDERMAAARVVAMREwAABFVUADEwAAAgRUAAMTACAABFQAADAAAAAEVAAgAAAAAABAAAAAAgAAIEAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAIAAAAAAgAAAAAAIAAAAAAAAAAAAAAAAQAAgAMAAIADAADBBwAAwQcAAMGPAACjjQAA498AAON/AAD3+wAA1/8AAP//AAD//wAAu/4AAP/fAAD//wAA"
      rel="icon" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='jquery.jqplot.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='overlay.css') }}">
<script type=text/javascript src="{{url_for('static', filename='socket.io.js') }}"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->
<script type=text/javascript src="{{url_for('static', filename='spin.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">
<script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap/css/bootstrap-theme.min.css') }}">
<script type=text/javascript src="{{url_for('static', filename='jstree.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='rainbowvis.js') }}"></script>
<!-- TODO: Re-minify jqplot after debugging complete-->
<script type=text/javascript src="{{url_for('static', filename='jquery.jqplot.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='jqplot.barRenderer.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='jqplot.canvasTextRenderer.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='jqplot.canvasAxisLabelRenderer.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='jqplot.highlighter.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='jqplot.pointLabels.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='jqplot.barRenderer.js') }}"></script>


<script type=text/javascript src="{{url_for('static', filename='musat_options.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='musat_run_on_server.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='global.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='musat_allele_calls.js') }}"></script>

<script type=text/javascript src="{{url_for('static', filename='musat_grid_locus.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='musat_grid_controls.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='musat_process_graph_data.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='musat_grid_graph.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='musat_draw_grid.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='musat_main.js') }}"></script>

<script type=text/javascript src="{{url_for('static', filename='musat_graphing.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='musat_results.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='musat_utils.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='musat_save_server.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='musat_stats.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='musat_progress_display.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='step_1_set_directory.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='step_2_sample_names.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='step_3_trim_adapters.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='step_4_merge_reads.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='step_5_locus_files.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='musat_explore_bars.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='musat_explore_scatter.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='musat_explore.js') }}"></script>


<script type=text/javascript src="{{url_for('static', filename='musat_flow.js') }}"></script>