<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.1/jstree.min.js"></script>-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css"/>-->
<!-- need to re-org jstree lib-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.min.css') }}">

<div id="options">
    <div id="options_rendered"></div>
</div>




<div class="row">
    <div class="col-sm-2">
        <button type="button" class="btn btn-default" onclick="htmlOptions.reloadHtmlOptions()">Reload options
        </button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-default " onclick="htmlOptions.saveHtmlOptions()">Save options
        </button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-default " onclick="htmlOptions.clearRecentProjectList()">Clear Recent Project List
        </button>
    </div>
    <span class="musat_server_version pull-right"></span>
</div>


