<style>
    .bs-wizard {
        margin-top: 40px;
    }

    /*Form Wizard*/
    .bs-wizard {
        border-bottom: solid 1px #e0e0e0;
        padding: 0 0 10px 0;
    }

    .bs-wizard > .bs-wizard-step {
        padding: 0;
        position: relative;
    }

    .bs-wizard > .bs-wizard-step + .bs-wizard-step {
    }

    .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
        color: #595959;
        font-size: 16px;
        margin-bottom: 5px;
    }

    .bs-wizard > .bs-wizard-step .bs-wizard-info {
        color: #999;
        font-size: 14px;
    }

    .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
        position: absolute;
        width: 30px;
        height: 30px;
        display: block;
        background: #fbe8aa;
        top: 45px;
        left: 50%;
        margin-top: -15px;
        margin-left: -15px;
        border-radius: 50%;
    }

    .bs-wizard-dot-center-active {
        /*background: orangered !important;*/
        background: rgba(242, 37, 58, 0.8) !important;
    }

    .bs-wizard > .bs-wizard-step > .bs-wizard-dot > .bs-wizard-dot-center {
        width: 14px;
        height: 14px;
        /*background: #fbbd19;*/
        background: limegreen;
        border-radius: 50px;
        position: absolute;
        top: 8px;
        left: 8px;
    }

    .bs-wizard > .bs-wizard-step > .progress {
        position: relative;
        border-radius: 0;
        height: 8px;
        box-shadow: none;
        margin: 20px 0;
    }

    .bs-wizard > .bs-wizard-step > .progress > .progress-bar {
        width: 0;
        box-shadow: none;
        background: #fbe8aa;
    }

    .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
        width: 100%;
    }

    .bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
        width: 50%;
    }

    .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
        width: 0;
    }

    .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
        width: 100%;
    }

    .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
        background-color: #f5f5f5;
    }

    .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot > .bs-wizard-dot-center {
        opacity: 0;
    }

    .bs-wizard > .bs-wizard-step:first-child > .progress {
        left: 50%;
        width: 50%;
    }

    .bs-wizard > .bs-wizard-step:last-child > .progress {
        width: 50%;
    }

    .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
        pointer-events: none;
    }

    .prevButton {
        .col-md-1;
    }

    .nextButton {
    . col-md-1;
    . col-md-offset-8;
    }

    /*END Form Wizard*/

</style>
<div class="container-fluid">
    <div class="steps-container" id>


        <div class="row bs-wizard" style="border-bottom:0;">
            <!--"state" is one of complete, active, or disabled.-->
            {% macro add_element(id, state,step_name,step_content) %}
            <div class="col-md-2 bs-wizard-step {{state}}" id="step{{id}}">
                <div class="text-center bs-wizard-stepnum">{{step_name}}</div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="#" class="bs-wizard-dot" onclick="mu.flow.click({{id}})">
                    <div class="bs-wizard-dot-center"></div>
                </a>
                <div class="bs-wizard-info text-center">{{step_content}}</div>
            </div>
            {% endmacro%}

            <!----------------------------------->

            {{ add_element(1,
            "disabled",
            "Step 1.1",
            "Set Project directory") }}
            <!----------------------------------->

            {{ add_element(2,
            "disabled",
            "Step 1.2",
            "Create Sample Set")
            }}
            <!----------------------------------->

            {{ add_element(3,
            "disabled",
            "Step 1.3",
            "Trim adapters")
            }}
            <!----------------------------------->


            {{ add_element(4,
            "disabled",
            "Step 1.4",
            "Merge reads") }}
            <!----------------------------------->

            {{ add_element(5,
            "disabled",
            "Step 1.5",
            "Create Locus Files") }}
        </div>


    </div>
    <div class="steps-pages panel panel-default">
        <div class="step-content panel-body step1" id="1" hidden="hidden">
            <div class="top_prev_next_btns">
                <button onclick="$('#set_directory_button').click();mu.flow.next(1)"
                        class="btn nextButton col-md-1">&nbsp;Next&nbsp;</button>
                <button onclick="$('#set_directory_button').click();mu.flow.next(1)"
                        class="btn nextButton col-md-1 col-md-offset-8">&nbsp;Next&nbsp;</button>
            </div>
            <br>

            {% include 'step_1_set_directory.html' %}
            <br>

            <div class="bot_prev_next_btns">
<!--
                <button onclick="$('#set_directory_button').click();mu.flow.next(1)"
                        class="btn col-md-1">&nbsp;Next&nbsp;</button>

                <button onclick="$('#set_directory_button').click();mu.flow.next(1)"
                    class="btn col-md-1 col-md-offset-9">&nbsp;Next&nbsp;</button>
-->
            </div>
            <br><br>

        </div>
        <div class="step-content panel-body step2" id="2" hidden="hidden">
            <div class="top_prev_next_btns">
                <button onclick="mu.flow.prev(2)" class="btn col-md-1">&nbsp;Prev&nbsp;</button>
                <button onclick="mu.flow.next(2)" class="btn col-md-1 col-md-offset-8 nextButton">&nbsp;Next&nbsp;</button>
            </div>

            {% include 'step_2_sample_names.html' %}
            <br>

            <div class="bot_prev_next_btns">
                <button onclick="mu.flow.prev(2)" class="btn col-md-1">&nbsp;Prev&nbsp;</button>
                <button onclick="mu.flow.next(2)" class="btn col-md-1 col-md-offset-8 nextButton">&nbsp;Next&nbsp;</button>
            </div>

        </div>
        <div class="step-content panel-body step3" id="3" hidden="hidden">
            <div class="top_prev_next_btns">
                <button onclick="mu.flow.prev(3)" class="btn col-md-1">&nbsp;Prev&nbsp;</button>
                <button onclick="mu.flow.next(3)" class="btn col-md-1 col-md-offset-8 nextButton" >&nbsp;Next&nbsp;</button>
            </div>

            {% include 'step_3_trim_adapters.html' %}
            <br>

            <div class="bot_prev_next_btns">
                <button onclick="mu.flow.prev(3)" class="btn col-md-1">&nbsp;Prev&nbsp;</button>
                <button onclick="mu.flow.next(3)" class="btn col-md-1 col-md-offset-8 nextButton" >&nbsp;Next&nbsp;</button>
            </div>
        </div>
        <div class="step-content panel-body step4" id="4" hidden="hidden">
            <div class="top_prev_next_btns">
                <button onclick="mu.flow.prev(4)" class="btn col-md-1">&nbsp;Prev&nbsp;</button>
                <button onclick="mu.flow.next(4)" class="btn col-md-1 col-md-offset-8 nextButton">&nbsp;Next&nbsp;</button>
            </div>

            {% include 'step_4_merge_reads.html' %}
            <br>

            <div class="bot_prev_next_btns">
                <button onclick="mu.flow.prev(4)" class="btn col-md-1">&nbsp;Prev&nbsp;</button>
                <button onclick="mu.flow.next(4)" class="btn col-md-1 col-md-offset-8 nextButton">&nbsp;Next&nbsp;</button>
            </div>

        </div>
        <div class="step-content panel-body step5" id="5" hidden="hidden">
            <div class="top_prev_next_btns">
                <button onclick="mu.flow.prev(5)" class="btn col-md-1">&nbsp;Prev&nbsp;</button>
                <button onclick="mu.flow.next(5)" class="btn col-md-1 col-md-offset-8 nextButton">&nbsp;Next&nbsp;</button>
            </div>

            {% include 'step_5_locus_files.html' %}
            <br>

            <div class="bot_prev_next_btns">
                <button onclick="mu.flow.prev(5)" class="btn col-md-1">&nbsp;Prev&nbsp;</button>
                <button onclick="mu.flow.next(5)" class="btn col-md-1 col-md-offset-8 nextButton">&nbsp;Next&nbsp;</button>
            </div>

        </div>

    </div>
</div>