<div id="primers_container">
    <div id="primers">
        <!--todo: use table html wrapper here-->
        <!--<span id="primers_hdr">Locus&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Called</span>-->
        <table>
            <thead class='primers_hdr'>
            <th>Locus</th>
            <th>Called</th>
            </thead>
            <tbody id="primers_contents"></tbody>

        </table>
        <div align="center">
            <button id="save_progress" class="sidebar-btn" onclick='muSaveData()'>Save calls</button>
            <p> </p>
            <button id="load_progress" class="sidebar-btn" onclick='muLoadAlleleCalls()'>Load calls</button>
            <p> </p>
            <p> </p>
            <button id="generate_calls" class="sidebar-btn" onclick='muGenerateAlleleCalls()'>Automatic calls</button>
            <p> </p>
            <button id="clear_calls" class="sidebar-btn" onclick='muClearAlleleCalls()'>Clear calls</button>
            <p> </p>

            <button id="export_primers" class="sidebar-btn" onclick='muExportAlleleCalls()'>Export template</button>
            <p> </p>
            <button id="import_primers" class="sidebar-btn" onclick='muImportAlleleCalls()'>Apply template calls</button>

            <p> </p>
            <button id="remove_lockouts" class="sidebar-btn" onclick='muRemoveAlleleLockouts()'>Apply template lockouts</button>

        </div>
    </div>
</div>