<div id="Step5">

    <div id="invalid_primer_file" class="alert alert-danger hidden col-md-10 container margin">
        <strong>Invalid or missing Primer file: '<span class="primer_file_name_msg"></span>'</strong>
        <br>

    </div>
    <div id="primer_file_malformed" class="alert alert-danger hidden col-md-10 container margin">
        <strong>Primer file '<span class="primer_file_name_msg"></span>' malformed; check format</strong>
        <br>
    </div>
    <div id="primer_file_bad_line" class="alert alert-danger hidden col-md-10 container margin">
        <strong>Primer file '<span class="primer_file_name_msg"></span>' bad line; check format</strong><br>
        <div id="line_info"></div>
        <br>
    </div>
    <div id="primer_warn_no_motif" class="alert alert-warning hidden col-md-10 container margin">
        <strong>Primer file '<span class="primer_file_name_msg"></span>'
        No Motif column found. This only affects some output formats you might choose.</strong><br>
        <br>
    </div>

    <div id="step_5_allele_files_created" class="alert alert-info hidden col-md-10 container margin">

        <strong class="text-center">Locus Allele length files created</strong>

        <div class="text-center">
            Locus files <b>*AlleleLens.txt</b> exist. &nbsp;&nbsp;Proceed to
            <button class="btn" onclick="mu.explore.show('default')"><strong>Step 2 Call Alleles</strong></button>
        </div>
        <!--<br>-->
        <button class="btn btn-right navbar-right" onclick="mu.flow.getStepObject(5).removeExistingFiles();">Remove existing files</button>
        <button class="btn" onclick="mu.flow.getStepObject(5).showLog()">Show Log</button>
        <br>
    </div>
    <div class="container col-md-12">

        <h2>Create allele files</h2>
        <div class="row">

            <p class="col-md-6">
                Create output files for the allele lengths based on a Primer file that you provide.
                <br>This tabbed separated value, or TSV, input file requires the following fields, in order: <br>
        </div>
    </div>
    <div class="container ">

        <table class="table col-md-8 table-bordered">
            <thead class="thead-default">
            <tr>
                <th>Locus Name</th>
                <th>Forward Primer 5' to 3'</th>
                <th>Reverse Primer 5' to 3'</th>
                <th>Motif</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Example:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Unique name of the locus.<br>TG_MS3</td>
                <td>Example:<br>GGCTATTGACGTTGTAGGCG</td>
                <td>Example:<br>TGACGTAACTGAGGCACCC</td>
                <td>Example:<br>AT</td>
            </tr>
            </tbody>

        </table>

    </div>
    <p>
        <!--TODO: create path entry for this file, and add this browser button to it.-->
    <div id="ins1" class="step completed"> Select Primer (TSV) file<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        File: <input id="primer_file" type="text" size="60">
        <button class="btn" id="choose_primer_button"
                onclick='mu.flow.getStepObject(5).choosePrimer($("#primer_file").val())'>Set
        </button>
        <button class="btn"
                onclick="htmlOptions.initFileBrowserFromFilePath('primer_file',$('#primer_file').val(),mu.flow.getStepObject(5).choosePrimer)">
            Browse
        </button>
        <div id="popup_primer_file" class="overlay" style="visibility: hidden; opacity: 0;">
            <div class="popup"><h3>Select Primer (TSV) File</h3>
                <!-- Same as step 1; if doing this again, extract as template -->
                <a class="close_top"
                   onclick="htmlOptions.clearFileBrowser(&quot;primer_file&quot;)">×</a>
                <a class="close_bottom"
                   onclick="htmlOptions.clearFileBrowser(&quot;primer_file&quot;)">×</a>
                <a class="btn select-file-button"
                   onclick="htmlOptions.selectFileButton(&quot;primer_file&quot;)">Select</a>
                <div id="curdir_primer_file">curdir</div>
                <div class="content">
                    <div id="jstree_primer_file" class=" " role="tree" aria-multiselectable="true" tabindex="0"></div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="container hidden" id="primer_table">

        <table class="table col-md-8 table-bordered">
            <thead class="thead-default">
            <tr>
                <th>Locus Name</th>
                <th>Forward Primer 5' to 3'</th>
                <th>Reverse Primer 5' to 3'</th>
                <th>Motif</th>
                <th>Matching Reads</th>
                <th>Samples</th>
            </tr>
            </thead>
            <tbody id="primer_table_body">

            </tbody>

        </table>

    </div>

    <div class="row">
        <button class="btn col-md-10 merge_button btn-success"
                onclick="mu.flow.getStepObject(5).generatePrimerFiles(event);"
                id="generate_button">Generate
        </button>
    </div>
    <br>

</div>

