<div id="Step3">
    <div id="step_3_prerequsites" class="alert alert-danger hidden">
        <strong>Prerequisites missing!</strong>
        Check to ensure that you have the FASTQ files in
        <div id="step_3_placeholder" style="display:inline;">.</div>
        <br>
        <button class="btn" onclick="mu.flow.setCurStepFromServer();mu.flow.click(3)">Check Prerequisites</button>
    </div>

    <div id="step_3_trimming_complete" class="alert alert-info hidden col-md-10 container margin">

        <strong class="text-center">Trimming complete</strong>

        <div class="text-center">
            Files <strong>FullSampleRun_trim_R1.fq</strong> and <strong>FullSampleRun_trim_R2.fq</strong> exist.
            <!--<br/><br/>They will be overrwritten if this step is re-run.<br/>-->
        </div>
        <!--<br>-->
        <button class="btn navbar-right btn-right" onclick="mu.flow.getStepObject(3).removeExistingFiles();">Remove existing files</button>
        <button class="btn" onclick="mu.flow.getStepObject(3).showLog()">Show Log</button>
        <br>
    </div>
    <div class="container col-md-12">

        <h2>Adapter Trimming</h2>
        <div class="row">
            <p class="col-md-6">Trim adapters using the <b>trimmomatic</b> program.<br>
              Default trimmomatic options can be changed in the options tab.<br>
                Defaults are recommended if you are unfamiliar with this tool.<br>

                 </p>


        </div>
        <p>

        <div class="row">
            <button onclick='mu.flow.getStepObject(3).doTrim(event);'
                    class="btn col-md-10 trim_button btn-success" id="create_button">Trim
            </button>
        </div>
        <br>

    </div>

</div>