<div id="Step1">

    <div id="step_1_invalid_directory" class="alert alert-danger col-md-10 hidden margin">
        <strong>Invalid directory:&nbsp; <span class="step1_dir_name"></span></strong>
        <br>

    </div>
    <div id="step_1_valid_directory" class="alert alert-info hidden col-md-10 container margin">

        <strong class="text-center">Current Project dir:&nbsp; <span class="musat_dir_shortname"></span></strong>

        <br><br>
        <span class="text-center">Project directory where input FASTQ files located:&nbsp; <span
                class="musat_dir_name"></span></span>
        <br>
        <span class="text-center">Output directory where project files are created:&nbsp;&nbsp;&nbsp;&nbsp;&thinsp;
            <span class="musat_working_dir_name"></span></span>
        <br><br>
        <button id="create_work_dir" class="btn" onclick="mu.main.createWorkingDirectory()">Create a separate Output
            directory
        </button>

    </div>
    <div class="col-md-10 container">

        <div id="ins1" class="step completed"> &nbsp;Select Project directory.
            &nbsp;This is where your FASTQ files are located.
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Directory: <input id="musat_dir" type="text" size="60">
            <!-- This button is invoked via jquery when 'next' is hit in pipeline_steps.html -->
            <button class="btn" id="set_directory_button" onclick='mu.main.setDirectory($("#musat_dir").val())'>Set
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn"
                    onclick="htmlOptions.initFileBrowserFromFilePath('musat_dir',$('#musat_dir').val())">
                Browse
            </button>
            <span>
                &nbsp;or&nbsp;&nbsp;Choose Recent Project
                <select id="recentProjectSelect" name="select" onchange="mu.flow.getStepObject(1).dirFromSelect(this)"> <!--an experiment -->
                </select>
            </span>
            <div id="popup_musat_dir" class="overlay" style="visibility: hidden; opacity: 0;">
                <div class="popup"><h3>Select FASTQ Files Directory</h3>
                    <!-- Same as step 5; if doing this again, extract as template -->
                    <a class="close_top"
                       onclick="htmlOptions.clearFileBrowser('musat_dir')">×</a>
                    <a class="close_bottom"
                       onclick="htmlOptions.clearFileBrowser('musat_dir')">×</a>
                    <a class="select-file-button btn"
                       onclick="htmlOptions.selectFileButton('musat_dir')">Select</a>
                    <div class="dir_tree">
                        <div><span id="curdir_musat_dir"><i>&lt;none&gt;</i></span>
                            <div class="content">
                                <div id="jstree_musat_dir" class=" " role="tree" aria-multiselectable="true"
                                     tabindex="0"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>